/*Start media queries*/

@media screen and (max-width: 768px) {
	.wide {
		display: none;
	}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
	html,
	body {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100vh;
		overflow: hidden;
	}

	.phone {
		display: none;
	}

	.strips {
		display: block;
	}

	.button,
	.navigation {
		display: none;
	}

	.top-bar {
		display: block;
	}

	.landing-text h1 {
		position: fixed;
		font-size: 5rem;
		top: 22vh;
		right: 19vw;
		font-family: 'Teko';
	}

	.landing-text h6 {
		position: fixed;
		font-size: 1.5rem;
		top: -27vh;
		left: 16vw;
		padding: 10px 30px;
	}

	.line {
		position: fixed;
		left: 30vw;
		top: -18vh;
		background: #000;
		width: 12rem;
		height: 1px;
	}

	.project-1 {
		font-size: 4rem;
	}

	.project-2 {
		font-size: 4rem;
	}

	.project-3 {
		font-size: 4rem;
	}

	.project-4 {
		font-size: 4rem;
	}

	.project-6 {
		font-size: 4rem;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
	html,
	body {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100vh;
		overflow: hidden;
	}

	p {
		font-size: 1.4rem;
		font-weight: 300;
		margin: 1rem;
	}

	.img img {
		width: 42vw;
	}

	.img {
		top: 19vh;
		right: 21vw;
	}

	.phone {
		display: none;
	}

	.strips {
		display: block;
	}

	.button,
	.navigation {
		display: none;
	}

	.top-bar {
		display: block;
	}

	.landing-text h1 {
		position: fixed;
		font-size: 5rem;
		top: 22vh;
		right: 19vw;
		font-family: 'Teko';
	}

	.landing-text h6 {
		position: fixed;
		font-size: 1.5rem;
		top: -27vh;
		left: 16vw;
		padding: 10px 30px;
	}

	.line {
		position: fixed;
		left: 30vw;
		top: -18vh;
		background: #000;
		width: 12rem;
		height: 1px;
	}

	@keyframes rev-img {
		0% {
			left: 0%;
			width: 0%;
		}

		50% {
			left: 0;
			width: 42vw;
		}

		100% {
			left: 42vw;
			width: 0%;
		}
	}
	.project-1 {
		font-size: 5rem;
	}

	.project-2 {
		font-size: 5rem;
	}

	.project-3 {
		font-size: 5rem;
	}

	.project-4 {
		font-size: 5rem;
	}

	.project-6 {
		font-size: 5rem;
	}
}

@media screen and (min-width: 1440px) and (max-width: 2560px) {
	html,
	body {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100vh;
		overflow: hidden;
	}

	.phone {
		display: none;
	}

	.strips {
		display: block;
	}

	.button,
	.navigation {
		display: none;
	}

	.top-bar {
		display: block;
	}

	.landing-text h1 {
		position: fixed;
		font-size: 5rem;
		top: 22vh;
		right: 19vw;
		font-family: 'Teko';
	}

	.landing-text h6 {
		position: fixed;
		font-size: 1.7rem;
		top: -27vh;
		left: 17vw;
		padding: 10px 30px;
	}

	.line {
		left: 24vw;
		top: -21.5vh;
		width: 50rem;
		height: 1px;
	}

	/*     MY PROJECTS    */

	.projects {
		font-size: 1.5rem;
	}
	/*     SERVICES    */

	.services-wide ul li {
		font-size: 2rem;
	}

	.contact-wide {
		font-size: 1.5rem;
	}

	.about-me-wide {
		font-size: 1.5rem;
	}

	.media-wide ul li {
		font-size: 2rem;
	}

	/*START RESUME*/

	.arrow-wide img {
		width: 60px;
	}

	.arrow-wide {
		left: 26vw;
	}
}

@media screen and (min-width: 2560px) {
	html,
	body {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100vh;
		overflow: hidden;
	}

	.phone {
		display: none;
	}

	.strips {
		display: block;
	}

	.button,
	.navigation {
		display: none;
	}

	.top-bar {
		display: block;
	}

	/*START LOGO*/
	.logo {
		font-size: 4rem;
	}
	/*END LOGO*/

	.landing-text h1 {
		position: fixed;
		font-size: 5rem;
		top: 22vh;
		right: 19vw;
		font-family: 'Teko';
	}

	.landing-text h6 {
		position: fixed;
		font-size: 1.7rem;
		top: -24vh;
		left: 18vw;
		padding: 10px 30px;
	}

	.line {
		left: 24vw;
		top: -20vh;
		width: 50rem;
	}

	/*     MY PROJECTS    */

	.projects {
		font-size: 1.7rem;
	}

	/*START RESUME*/

	.arrow-wide img {
		width: 60px;
	}

	.arrow-wide {
		left: 26vw;
	}
	/*     SERVICES    */

	.services-wide ul li {
		font-size: 3rem;
	}

	.media-wide ul li {
		font-size: 3rem;
	}

	.about-page {
		width: 22vw;
	}

	.about-details-page {
		position: fixed;
		width: 30vw;
		z-index: 0;
		top: 40vh;
		right: 29vw;
	}

	.my-project-wide {
		position: fixed;
		width: 60vw;
		height: 60vh;
		z-index: 0;
		top: 15vh;
		right: 20vw;
	}

	.project {
		font-family: 'Teko';
	}

	.project a {
		color: dimgray;
	}

	.project a:hover {
		color: #e26241;
	}
}
/*End media queries*/
